<head>
    <meta charset="utf-8">
    <title>
        XeNoNiQUE :: 2016 :: {{ pageTitle }}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="XeNoNiQUE">
    <meta name="author" content="Peter Pilgrim">

    <!-- Les Bootstrap styles -->
    <link href="{{webContextPath}}/styles/bootstrap.css" rel="stylesheet">
    <link href="{{webContextPath}}/styles/main.css" rel="stylesheet">
</head>
