<!DOCTYPE html>
<html>

{{> header }}

<body>
{{> navbar }}

<div class="main-content">

    <div class="page-header">
        <h1>
            {{pageTitle}}
        </h1>
    </div>

    <div class="page-header">
        <h1> REDIRECTED WEB APP FOLDER - </h1>
        <p> Redirect works! <code>src/main/webapp/redirected.jsp</code> </p>
    </div>

</div>

{{> footer}}
</body>

{{> bottom }}

</html>
