<!DOCTYPE html>
<html>
    <body>
        <div class="trade-entry">
            <h2>{{title}}</h2>

            <div class="trade-detail">
                {{detail}}
            </div>

            <div class="trade-detail">
                <p> Trade Date: {{trade-date}} </p>
                <p> Maturity Date: {{maturity-date}} </p>
            </div>
        </div>
    </body>
</html>
