<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <title>Form Validation Error</title>
    </head>
    <body>
        <h1>Form Validation Error</h1>

        <p>Property: {{error.property}}</p>

        <p>Value: {{error.value}}</p>

        <p>Message: {{error.message}}</p>
    </body>
</html>
